.personagem {
  position: relative;

  height: 50px;

  background: #a3a3a3;

  margin: 15px 0;
  padding: 15px;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;

  box-shadow: 6px 3px 16px 2px rgba(0, 0, 0, 0.32);

  transition: all 250ms linear;

  &.list {
    width: 90%;
    font-size: 16px;

    & > .remove-btn {
      right: 0;

      width: 20%;
      height: 100%;

      border-radius: 0 8px 8px 0;

      &:hover {


        width: 12%;

      }

    }
  }

  &.grid {
    width: 50px;
    font-size: 14px;

    margin: 10px auto;

    & > .remove-btn {
      right: 0;
      top: 0;

      width: 25px;
      height: 20px;

      border-radius: 0 8px 0 8px;

      &:hover {

        width: 30px;
        height: 25px;

      }

    }
  }
}

.personagem > .personagem-nome {
  text-align: center;
  flex: 1;
}

.personagem > .remove-btn {
  position: absolute;

  max-width: 80px;

  background-color: rgb(179, 18, 50);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 250ms linear;
}

.personagem > .remove-btn > i {
  transition: all 250ms linear;
}

.personagem > .remove-btn:hover {
  cursor: pointer;
}

.personagem > .remove-btn:hover > i {
  transform: scale(1.25);
}

@media only screen and (max-width: 768px) {
  .personagem > .personagem-nome {
    text-align: left;
  }
}
